html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: 'Poppins', sans-serif;
  width: 100vw;
  height: 100vh;
  margin: 0 auto;
  background-color: black;
  display: grid;
  place-content: center;
}

.calculator {
  width: 350px;
  aspect-ratio: 3/5;
  display: flex;
  flex-direction: column;
  border-radius: 16px;
  margin: 16px;
  background: #dde1e7;
}

.display {
  height: 30%;
  display: flex;
  flex-direction: column;
}

.display__space {
  flex: auto;
}

.display__nums {
  text-align: right;
  padding: 0 32px;
  font-size: 2.5rem;
}

.numpad {
  height: 70%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(5, 1fr);
  gap: 24px;
  padding: 24px;
  padding-top: 16px;
}

.numpad__clear {
  grid-column: 1 / 3;
  color: black;
}

.numpad__zero {
  grid-column: 1 / 3;
}

.numpad__eq {
  grid-column: 4;
  grid-row: 4 / 6;
}

.btn {
  font-family: inherit;
  font-weight: 600;
  border-radius: 8px;
  border: none;
  font-size: 1.5rem;
  cursor: pointer;
  color: #3abaff;
  background-color: transparent;
  outline: none;
  transition: 0.2s ease-in-out;
  box-shadow: -5px -5px 9px rgba(255, 255, 255, 0.45),
    5px 5px 9px rgba(94, 104, 121, 0.3);
}

.btn:hover {
  box-shadow: -2px -2px 6px rgba(255, 255, 255, 0.2),
    -2px -2px 4px rgba(255, 255, 255, 0.2),
    2px 2px 2px rgba(255, 255, 255, 0.05), 2px 2px 4px rgba(0, 0, 0, 0.1);
}

.btn:active,
.btn:focus {
  box-shadow: inset -5px -5px 9px rgba(255, 255, 255, 0.45),
    inset 5px 5px 9px rgba(94, 104, 121, 0.3);
}

.btn--misc {
  color: rgb(57, 57, 57);
}

.btn--op {
  background-color: rgba(173, 225, 255, 0.5);
  color: #24a5ff;
}
